<body class="create-account">
<div class="new-post-box">
    <h1> Reply to Thread </h1>

<%#if you were adding a post to a group page, you can return to that group%>
    <%= form_for @reply do |f| %>
    <%= f.text_area :content, placeholder: "Write Your Reply", class:"textarea1"%><br><br>
    <%= f.submit "Reply", class:"submit-button" %>
    <% end %>
    <% if flash[:comment] %>
        <div class="return-button">
        <%= button_to "Return to Comment Thread", comment_path(flash[:comment]), {method: :get} %>
        </div>
    <% end %>
</div>

</body>