                
<div class="center">

    <div class="list-box">
            <h2 class="page-head"> List of all of Flatiron Groups </h2>
    </div>

    <div class="group-display">
        <% @groups.all.each do |group|%>
                <ul>
                    <li class="list-style"> 
                            <%= link_to group.name, group_path(group), :class =>"group-name" %> 
                        <li class="description">
                            <%= group.description %> 
                        </li>
                    </li> 
         <br>  </ul>
        <% end %> 
    </div>

</div>
<div class="create">
<%= button_to "Create a New Group", new_group_path, {method: :get} %>
</div>
