                
<div class="post-container">
  <h2 class="my-post-title">Flatiron Groups </h2>
        <% @groups.all.each do |group|%>
            <ul>
            <div class="members-box">
                <li class="group-name"> 
                     <%= link_to group.name, group_path(group), :class =>"group-name" %> 
                </li> 
            </ul>
                <% end %> 
                <div class="new-group-btn">
                <%= button_to "Create a New Group", new_group_path, {method: :get} %>
                </div>
    </div>
</div>