<h2> List of all of Flatiron Groups </h2>

<%= button_to "Create a New Group", new_group_path, {method: :get} %>
<% @groups.all.each do |group|%>
<ul>
    <li> <%= link_to group.name, group_path(group) %>
    <ul>
        <li style="list-style: none"><%= group.description  %> </li>
    </ul>
    </li>
    </ul>
<% end %> 
