
<%#This form allows for the creation of a new group%>
<%# we do not currently allow groups to be edited %>

<body class="create-account">
<div class="new-post-box">
    <h1> Create New Group </h1>

<%= form_for @group do |f| %>
    <%= f.text_field :name, placeholder: "Name", class:"textfield2" %><br><br>
    <%= f.text_area :description, placeholder: "Group Description", class:"textarea1"%><br><br>
    <%= f.submit "Create Group", class:"submit-button" %>
    <% end %>
</div>
</body>