<div class="post-container">
        <h2 class="my-post-title"> View Your Chats </h2>
    <div class="post-box">
        <ul>
            <li>
                
                 <% @user.chats.each do |chat| %>
                    <div class="individual-chat">
                    <div class="chat-title">
                     <%= link_to chat.name, chat_path(chat), {method: :get} %>
                    </div>
                    <% chat.users.each do |user| %>
                    <p id="chat-members"><%= link_to user.username, user_path(user) %></p>
                    <% end %>
                </div>
            </li>
        </ul>
        <% end %>
    </div>
    <div class="submit-btn">
    <%= button_to "Start New Chat", new_chat_path, {method: :get} %><br>
</div>

</div>
