<div class="center">
    <div class="list-box">
        <h2 class="page-head"> View Your Chats </h2>
    </div>

    <div class="group-display">
        <% @user.chats.each do |chat| %>
        <ul>
            <li class="list-style"> 
                <li class="description">
                    <%= link_to chat.name, chat_path(chat), {method: :get} %>
                    <% chat.users.each do |user| %>
                    <p><%= user.username %></p>
                    <% end %>
                </li>
            </li>
        </ul>
        <% end %>
    </div>
</div>
<div class="create">
    <%= button_to "Create New Chat", new_chat_path, {method: :get} %><br>
</div>
