<h1> Edit Your Post </h1>

<%= render 'form' %>
<%#button allows you to return to the post if you decide not to make changes%>
<%= button_to "Return to Post", post_path(flash[:post]), {method: :get} %>