<body class="create-account">
<div class="new-post-box">
    <h1> New Post </h1>

    <%= form_for @post do |f| %>
    <%= f.text_field :title, placeholder: "Title", class:"textfield2" %><br><br>
    <%= f.text_area :content, placeholder: "Write Your Post", class:"textarea1"%><br><br>
    <%= f.submit "Create Post", class:"submit-button" %>
    <% end %>

</div>
</body>