// Place all the styles related to the Chatmembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.chatmember-label {
   font-family: 'Nunito', sans-serif;
    font-weight: 50;
    padding: 10px;
    text-align: center;
}

.chatmember-create-btn{
    padding: 10px;
    text-align: center;
}

.return-to-chat {
    padding-top: 20px;
    text-align: right;
}