// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reply-btn{
    text-align: right;
}
.return-button {
    font-family: sans-serif;
    text-align: center;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 10px;
}