// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.list-style{
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
}

.page-head{
    position: absolute;
    left: 0.4cm;
    top: 2cm;
    font-size: 32px;
    color: black;
    font-family: sans-serif;
}

.group-name{
    font-size: 20px;
    
}

.description{
    position: initial;
    padding-left: 38px;
}

.center{
    padding-left: 250px;
    margin-top: 100px;
    margin-right: 200px;
}

.list-box {
    background: #C6E0EC;
    display: flex;
    height: 150px;
    position: absolute;
    left: 2cm;
    top: 3.5cm;
    right: 2cm;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

.group-listing{
    float: left;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.group-display{
    display: flow-root;
    width: 802px;
    height: 383px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 110px 1px 0px;
    font-family: sans-serif;
    margin-left: -154px;
    z-index: -1;
    border-radius: 3px;
    overflow: scroll;
    scroll-behavior: auto;
}

.create{
    position: initial;
    padding-left: 95px;
    padding-top: 2px;
}

.name-group{
    font-size: 1.7rem;
    text-align: left;
    padding-left: 20px;
    padding-top: 50px;
    font-variant: small-caps;
    font-weight: bold;
    width: 80%;
}

.group-description{
    margin: 10px;
    font-size: .8rem;
    text-align: center;
}

.description{
    text-align: center;
    margin-right: 60px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid lightblue;
    padding-bottom: 3px;
}

.group-btn{
    padding-top: 60px;
}

.members-btn{
    text-align: right;
    padding-right: 20px;
    padding-top: 50px;
}

button.view-members, button.create-post-btn, button.leave-group, button.join-group {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: lightblue;
    font-family: sans-serif;
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,.3);
    color: #fff;
}

button.leave-group:hover, button.create-post-btn:hover, button.join-group:hover{
    background: rgb(103, 192, 221);
}

button.leavegroup i, button.create-post-btn i, button.join-group i{
    margin-right: 3px;
}

.group-profile-side{
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    padding: 40px 30px 20px;
    font-family: sans-serif;
    margin-left: 50px;
    z-index: 99;
    border-radius: 3px;
}

.post-right{
    background: rgba(181, 185, 187, 0.2);
     display: list-item;
     height: 400px;
     width: 90%;
     left: 340px;
     right: 2.5cm;
     box-shadow: 0px 3px 4px rgba(0,0,0,.2);
     z-index: 10;
     border-radius:3px;
     margin-left: 30px;
     margin-top: 20px;
     overflow: scroll;
}

.group-post-title{
    text-align: justify;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: 1px groove #68cdf5;
    padding-bottom: 6px;
    padding-left:20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.group-post-author{
    text-align: right;
    padding-right: 20px;
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.group-post-content{
    text-align: left;
    font-weight: 300;
    padding-left: 30px;
    padding-right: 20px;
}

.comment-ct{
    padding-top: 20px;
    text-align: right;
    padding-right: 20px;
    font-size: .7rem;
    padding-bottom: 10px;
}

.members-box{
    border: 1px groove lightblue;
    padding: 10px;
    margin: 10px;
}

.groupmember-name{
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.groupmember-date{
    text-align: right;
    font-size: .7rem;
    font-weight: 200;

}

.group-name{
    font-size: 1rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.new-group-btn{
    text-align: center;
    padding-top: 10px;
}

.return-to-grp{
    text-align: center;
    padding-top: 10px;
}

.members-word{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding-top: 20px;
}