// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.flash-message {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px;
    color: white;
}

.container {
    box-sizing: border-box;
    padding-top: 50px;
    margin: 0 100px;
}
.profile-header{
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    display: flex;
    height: 150px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

.profile-img{
    float: left;
    width: 300px;
    height: 200px;
}

.profile-img img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 4px solid #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: #fff;
}

.profile-nav-info{
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-left: 20px;
}

.main-name{
    float: left;
}

.profile-nav-info h3{
    font-variant: small-caps;
    font-size: 2rem;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
.profile-nav-info p{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}

.profile-option{
    width: 40px;
    height: 40px;
    background: lightblue;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    outline: none;
}
.profile-option .notification{
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
}
.profile-option:hover{
    background: #fff;
    border: 1px solid lightblue;
}
.profile-option:hover .notification{
    color: lightblue;
}
.profile-option .notification .alert-message{
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    color: lightblue;
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
}

.main-bd{
    width: 100%;
    display: flex;
    padding-right: 15px;
}

.profile-side {
    width: 300px;
    height: 280px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    padding: 130px 30px 20px;
    font-family: sans-serif;
    margin-left: 10px;
    z-index: 99;
    border-radius: 3px;
}

.profile-side p{
    margin-bottom: 30px;
    color: rgb(73, 72, 72);
    font-size: 14px;
    font-weight: bold;
}

.profile-side p i{
    color: rgb(92, 187, 219);
    margin-right: 10px;
}

.profile-btn {
    display: flex;
}

button.chatbtn, button.create-post-btn, button.delete-post-btn {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: lightblue;
    font-family: sans-serif;
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,.3);
    color: #fff;
}

button.chatbtn:hover, button.create-post-btn:hover, button.delete-post-btn:hover{
    background: rgb(103, 192, 221);
}

button.chatbtn i, button.create-post-btn i, button.delete-post-btn i{
    margin-right: 3px;
}

.profile-nav-bar tab{
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 40px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}
// #tab-1 {
//     padding: 10px;
//     width: 100%;
//     cursor: pointer;
//     text-align: center;
//     transition: all .2s ease-in-out;
// }
// .profile-nav-bar ul li.active, .profile-nav-bar ul li:hover{
//     box-shadow: 0px -3px 0px lightblue inset;
// }

.profile-nav-bar {
    position: relative;   
    height: 200px; /* This part sucks */
    clear: both;
    margin: 20px 0;
    width: 150%;
    margin-left: 20px;
    overflow: scroll;
    border-radius: 5px;
  }
  .tab {
    float: left;
  }
  .tab label {
    background: #eee; 
    padding: 10px;
    border: 1px solid #ccc; 
    margin-left: -1px; 
    position: relative;
    left: 1px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tab [type=radio] {
    display: none;   
  }
  .content {
    font-family: sans-serif;
    position: absolute;
    top: 28px;
    left: 0;
    height: 700px;
    background: white;
    right: 0;
    bottom: 0;
    padding: 15px;
    border: .5px groove lightblue; 
    width: 100%;
  }
  .groups {
      font-family: sans-serif;
      text-align: center;
      padding: 10px;
      font-size: .9rem;
      border: 1px groove lightblue;
      border-radius: 2px;
      margin: 10px;
  }
  .user-posts{
      border: 1px groove lightblue;
      border-radius: 2px;
      padding: 5px;
      text-align: left;
      margin-bottom: 5px;
      font-size: .7rem;
  }
  .profile-post-title{
    font-family: sans-serif;
    text-align: left;
    font-size: .9rem;
    padding-bottom: 4px;
  }
  .profile-page-comments{
      text-align: right;
  }
  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
  }

// .profile-body{
//     width: 100%;
//     z-index: -1;
// }


.alert {
    padding: 20px;
    background-color: rgb(80, 154, 238); /* Red */
    color: white;
    margin-bottom: 15px;
    z-index: 999;
    opacity: 0.7;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

@media(max-width: 1100px) {
    .profile-side{
        width: 250px;
        padding: 120px 15px 20px;
    }
    .profile-img img{
        height: 200px;
        width: 200px;
        left: 50px;
        top: 50px;
    }
}

@media(max-width: 900px) {
    .container{
        margin: 0 20px;
    }
    .profile-header{
        display: flex;
        height: 90%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }
    .profile-img {
        float: left;
        width: 50%;
        height: 200px;
    }
    .profile-img img {
        position: relative;
        top: 0;
        left: 0;
    }
    .profile-nav-bar{
        width: 100%;
    }
    .profile-nav-info{
        text-align: center;
    }
    .profile-nav-info .birthday{
        justify-content: center;
    }
    .profile-option {
        right: 20px;
        top: 75%;
        transform: translateY(50%);
    }
    .main-bd {
        flex-direction: column;
        padding-right: 0px;
    }
    .profile-side {
        width: 100%;
        text-align: center;
        height: 60%;
        padding: 20px;
        margin: 5px 0;
    }
    .content {
        top: 28px;
        left: 0;
        display: flex;
        right: 0;
        bottom: 0;
        padding: 15px;
        width: 80%;
    }

    @media(max-width: 400px){
        container{
            margin: 0;
        }
        .profile-header h3{
            font-size: 1.7rem;
        }
        .profile-header p, .profile-header span{
            font-size: .9rem;
        }
        .profile-option {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 15px;
            top: 83%;
        }
        .profile-option .notification .alert-message {
            top: -3px;
            right: -4px;
            padding: 4px;
            height: 15px;
            width: 15px;
            font-size: .7rem;
        } 
    }   
}

.individual-chat{
    border: 1px groove lightblue;
    padding: 20px;
    padding-bottom: 10px;
    margin: 15px;
}

.chat-title{
    font-family: sans-serif;
    text-transform: capitalize;
    text-align: left;
    font-weight: 600;
    padding-bottom: 4px;
}

#chat-members{
    text-align: right;
    font-size: .7rem;
}

.submit-btn{
    text-align: center;
    padding-top: 10px;
}